@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#FFF0F5]; /* Use the exact color */
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
